@media (max-width: 700px) and (min-width: 0px){
    .h5-3{
        display: block;
    }
    .h1-3{
        display: none;
    }
    .h3-3{
        display: none;
    }
    .container-14{
        height: 30vh;
    }
    .div-33{
        top: 12%;
    }
    .div-22{
       width: 100%;
       border-radius: 0;
       margin-left: 0%;
    }
    .div-44{
        margin-left: 30;
    }
}